[Unit]
Description=Atal EDR service
After=network.target

[Service]
Type=exec
LimitNOFILE=16384
Restart=always
RestartSec=5
StandardOutput=journal
StandardError=journal
NoNewPrivileges=yes
ExecStart=/opt/atal/atal -c /etc/atal/config.yaml

[Install]
WantedBy=default.target
RequiredBy=network.target
Alias=atal.service