[Unit]
Description=Vajra EDR service
After=network.target

[Service]
Type=exec
LimitNOFILE=16384
Restart=always
RestartSec=5
StandardOutput=journal
StandardError=journal
AmbientCapabilities=CAP_BPF,CAP_PERFMON,CAP_NET_ADMIN
NoNewPrivileges=yes
ExecStart=/opt/vajra/vajra -c /etc/vajra/config.yaml

[Install]
WantedBy=default.target
RequiredBy=network.target
Alias=vajra.service